/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* Back to top */
#wpct-backtotop {
    display:inline-block;
    background-color:red;
    width: 35px;
    height:35px;
    text-align:center;
    border-radius:5px 0 0 5px;
    position:fixed;
    bottom: 17px;
    right:0;
    transition:background-color .3s,opacity .5s,visibility .5s;
    opacity:0;
    visibility:hidden;
    cursor:pointer;
    z-index:9999;
}
#wpct-backtotop:after {
    content:"";
    position:absolute;
    top:15px;
    left:11px;
    display:inline-block;
    width:13px;
    height:13px;
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
    -webkit-transform:rotate(-135deg);
    transform:rotate(-135deg);
}
#wpct-backtotop.show {
    opacity:1;
    visibility:visible;
}
#wpct-backtotop:hover {
    background:#384552;
}

/* Page Loader */
#wpct-preload{
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999999;
}
#wpct-preload img{
    width:100px;
    height: 100px;
}
/* Show Scroll progress in circle */
#wpct-percentage-value {
    position: fixed;
    top: auto;
    bottom: 2%;
    left: 1%;
    height: 50px;
    width: 50px;
    color: #FB3C3F;
    background-color: white;
    text-align: center;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(15%);
    border-radius: 50%;
    box-shadow: 1px 1px 8px 2px #fb3c3f, -1px -1px 8px 2px #fb3c3f;
    font-size: 1em;
    z-index: 999999;
}

/*#wpct-scroll-percent {
    position: fixed;
    top: 0;
    width: 100vw;
    color: #000;
    margin: 0;
    padding: 0;
 }*/
 /* [data-scrollPercentage] .wpct-percentage {
    display: inline-block;
    background-color: #FB3C3F;
    height: 6px;
    width: 0;
 }*/

/* Show Scroll progress in Top */
.wpct-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    /*z-index: $zindex-fixed;*/
}
.wpct-progress-container {
    width: 100%;
    background-color: transparent;
    height: 5px;
    display: block;
}
.wpct-progress-bar {
    background-color: red;
    width: 0%;
    display: block;
    height: inherit;
}



@media screen and (max-width:1199px)  { 
    #wpct-percentage-value
    {
       font-size: 0.6em;
        line-height: 1;
        height: 40px;
        width: 40px;
    }
}
